html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  margin: auto;
}

.section {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  z-index: 99;
}

.section:nth-child(1) {
  background-color: rgb(5, 65, 6);
  z-index: 10;
}
.section:nth-child(2) {
  background-color: rgb(216, 222, 224);
  color: black;
}
.section:nth-child(3) {
  background-color: rgb(216, 222, 224);
  color: black;
}

.fixed-heading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 3rem;
  color: black;
  transition: transform 1.2s ease-in-out; /* Smooth transition for rotation */
}
